@import './variables.scss';

/*
    text-transform
    text-decoration
    outline
    border
    эдгээр property-ийг судлаарай
*/

.btn {
    border-radius: 100px;
    text-transform: uppercase;
    text-decoration: none !important;
    outline: none !important;
    font-weight: bold;
    font-style: normal;
    border: none !important;
}

.disabled {
    opacity: 0.6;
}

.input {
    border-radius: 100px;
    box-sizing: border-box;
    border: none !important;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16%);
    text-decoration: none !important;
    outline: none !important;
    padding-left: 15px;
}